<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light Judge</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to our demo judge</h1>
        <h2>Problem Solution</h2>
        <form th:action="@{/solution}" class="form" method="POST">
            <div class="form-group">
                <label for="problem"></label>
                <input type="text" id="problem" disabled value="Problem A">
            </div>

            <div class="form-group">
                <label for="" class="solution"></label>
                <textarea name="solution" id="solution" cols="60" rows="20"></textarea>
            </div>

            <div class="form-group">
                <label for="" class="language"></label>
                <select name="language" id="language">
                    <option value="java">Java</option>
                    <option value="cpp">C++</option>
                    <option value="c">C</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>